@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

.tablet
{
    text-align: left;
}

.smartphone
{
    text-align: right;
}

.details
{
    display: flex;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 10px;
}

.details > *
{
    flex: 1;
    padding: 0px 20px;
}

.numbers
{
  font-family: 'Source Sans Pro', sans-serif;
}

.perc
{
  color: #6E6E6E;
}

.total
{
  color: #C0C0C0;
}
